* {
  transition: all 0.1s ease-in;
}
* {
  scroll-behavior: smooth;
}
/*----------nav----------*/
a:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.nav-item {
  padding: 0 20px;
}

.nav-link {
  font-size: 20px;
  font-family: "Didact Gothic";
  font-weight: normal;
  opacity: 0.8;
}

/*------Carousel-------*/

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 50px;
  height: 50px;
}

.slider {
  padding: 0;
}
/*------------Abput US----------*/
.about__us {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__us hr {
  width: 100px;
  height: 1px;
  background-color: #2c4058;
  border: none;
  margin-bottom: 40px;
  margin-top: 50px;
}
.about__us h2 {
  font-size: 40px;
  font-family: "Didact Gothic";
  margin-bottom: 40px;
}
.about__us p {
  font-size: 20px;
  font-family: "Didact Gothic";
  font-weight: normal;
  opacity: 0.8;
  text-align: center;
  margin-bottom: 40px;
}

/*-----------Card-------------*/
.card:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.cards__us {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  font-family: "Didact Gothic";
}
.card-text {
  opacity: 0.8;
  font-size: 20px;
  font-family: "Didact Gothic";
}

.fab:hover {
  color: black;
}
/*--------what we do------*/
.whatwedo__us {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.whatwedo__us hr {
  width: 100px;
  height: 1px;
  background-color: #2c4058;
  border: none;
  margin-bottom: 40px;
  margin-top: 50px;
}
.whatwedo__us h2 {
  font-size: 40px;
  font-family: "Didact Gothic";
  margin-bottom: 40px;
}
.whatwedo__us p {
  font-size: 20px;
  font-family: "Didact Gothic";
  font-weight: normal;
  opacity: 0.8;
  text-align: center;
  margin-bottom: 40px;
}

/*-------------------Gallery----------*/
.gallery-title {
  font-size: 30px;
  font-family: "Didact Gothic";
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0 20px;
}

.gallery-text {
  font-size: 20px;
  font-family: "Didact Gothic";
  font-weight: normal;
  opacity: 0.8;
  text-align: center;
}
/*------------------TEST------*/
.menu-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.menu-list li:hover {
  background-color: black;
  color: white;
}
.menu-list li {
  width: 100%;
  max-width: 160px;
  height: 50px;
  border: 1px solid #2c4058;
  align-items: center;
  background: transparent;
  font-size: 18px;
  font-family: "Didact Gothic";
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.features__items {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.features__items img {
  width: 100%;
  background-position: cover;
}
.item {
  padding: 10px 10px;
}
.item:hover {
  cursor: pointer;
  transform: scale(1.05);
}

/*-------------------NEW GALLERY-----------*/

.gallery__new {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery__new hr {
  width: 100px;
  height: 1px;
  background-color: #2c4058;
  border: none;
  margin-bottom: 40px;
  margin-top: 50px;
}

.gallery__new h2 {
  font-size: 40px;
  font-family: "Didact Gothic";
  margin-bottom: 40px;
}
.gallery__new img:hover {
  cursor: pointer;
  transform: scale(1.05);
}
/*---------filter gallery----*/
.container-features {
  width: 100%;
}

.filter__gallery {
  min-height: 700px;
}

.gallery__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gallery__title hr {
  width: 100px;
  height: 1px;
  background-color: #2c4058;
  border: none;
  margin-bottom: 40px;
}

.gallery__title h3 {
  font-size: 40px;
  font-family: "Didact Gothic";
  margin-bottom: 40px;
}

/*---------join us ------*/
.join__us {
  min-height: 650px;
  background-image: url(/src/img/witner.png);
  background-size: cover;
}

.join__wrapper {
  min-height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.join__wrapper hr {
  width: 100px;
  height: 1px;
  background-color: #2c4058;
  border: none;
  margin-bottom: 40px;
  margin-top: 10px;
}
.join__wrapper h3 {
  font-size: 40px;
  font-family: "Didact Gothic";
  margin-bottom: 40px;
}
.join__wrapper p {
  font-size: 20px;
  font-family: "Didact Gothic";
  font-weight: normal;
  opacity: 0.8;
  text-align: center;
  margin-bottom: 40px;
}
.btn {
  width: 100%;
  max-width: 50px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 1px solid #2e3742;
  font-size: 15px;
  color: #2e3742;
  font-family: "Didact Gothic";
}
.btn:hover {
  background-color: black;
  color: white;
}

/*------footer------------*/

.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer__social {
  display: flex;
  align-items: center;
}
.fab {
  padding: 10px;
}

.social__item {
  padding-right: 10px;
  padding-left: 10px;
}
#map {
  height: 700px;
  width: 100%;
}
/*-------contact form-------------*/
h3 {
  display: flex;
  justify-content: center;
  font-family: "Didact Gothic";
}

.form__wrapper {
  display: none;
  width: 100%;
  max-width: 500px;
  position: relative;
  top: -200px;
  margin-left: 30%;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
}
.contact__footer {
  width: 100%;
  max-width: 450px;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text__item {
  display: flex;
  color: #2e3742;
  font-family: "Didact Gothic";
  font-size: 20px;
  margin-top: 20px;
  padding-right: 20px;
}

.contact__form {
  display: flex;
}

.contact__form form {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.contact__form input {
  opacity: 0.5;
  font-family: "Didact Gothic";
  font-size: 16px;
  color: #2e3742;
  border: none;
  height: 50px;
  width: 100%;
  outline: none;
  border-bottom: solid 1px #2e3742;
}

.contact__form input[type="email"] {
  margin-top: 20px;
  margin-bottom: 50px;
}
.contact__form input[type="text"] {
  margin-top: 10px;
}

.contact-btn {
  width: 100%;
  max-width: 190px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 1px solid #2e3742;
  font-size: 15px;
  color: #2e3742;
  font-family: "Didact Gothic";
}
.contact-btn:hover {
  background-color: #2e3742;
  color: white;
}

.bottom-btn {
  width: 100%;
  max-width: 160px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 1px solid #2e3742;
  font-size: 18px;
  color: #2e3742;
  font-family: "Didact Gothic";
}

.bottom-btn:hover {
  background-color: #2e3742;
  color: white;
}

.copyright p {
  display: flex;
  justify-content: center;
  color: #2e3742;
  font-family: "Didact Gothic";
  font-size: 20px;
  margin-top: 20px;
  padding-right: 20px;
}
.yo {
  display: flex;
  justify-content: end;
}
.close-btn {
  border: 1px solid black;
  background: white;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
}
/*--------------to top---------*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 40px;
  z-index: 99;
  background-color: transparent;
  cursor: pointer;
  padding: 15px;
  outline: none;
  border-radius: 50%;
  border: 2px solid #2e3742;
  font-size: 18px;
  color: #2e3742;
  font-family: "Didact Gothic";
  opacity: 0.9;
}

#myBtn:hover {
  background-color: #2e3742;
  color: white;
}

/*-----------media--------*/

@media screen and (max-width: 600px) {
  .footer__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 1000px) {
  .form__wrapper {
    margin-left: 20%;
  }
}

@media screen and (max-width: 750px) {
  .form__wrapper {
    margin-left: 12%;
  }
}

@media screen and (max-width: 600px) {
  .form__wrapper {
    margin-left: 0px;
  }
}

@media screen and (max-width: 600px) {
  .contact__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 1200px) {
  .features__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
